.side-bar {
    width: 15%;
    height: 1080px;
    max-height: 1080px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 100;
}

.side-bar-full-title {
    margin: 0px;
    margin-top: 40px;
    font-size: 40px;
    font-family: boldTitles;
}

.side-bar-reduced-title {
    margin: 0px;
    margin-top: 40px;
    font-size: 40px;
    font-family: boldTitles;
    display: none;
}

.navigation-icons-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 140px;
    width: 190px;
}

.navigation-icon-none-selected {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.navigation-icon-selected {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 30px;
    background-color: #F7F7FA;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.route-navigate-icon {
    width: 30px;
    height: 30px;
    display: block;
}

.navigation-icons-name {
    margin: 0px;
    font-size: 18px;
    font-family: regularText;
    color: #333333;
    padding-left: 10px;
}

.navigation-icons-row {
    width: 100%;
    text-decoration: none;
}

@media only screen and (max-width: 1500px) {
    .side-bar {
        width: 7%;
    }

    .navigation-icons-name {
        display: none;
    }

    .navigation-icons-container {
        width: 100%;
    }

    .navigation-icons-row {
        width: auto;
    }

    .side-bar-full-title {
        display: none;
    }

    .side-bar-reduced-title {
        display: flex;
    }
}

@media only screen and (max-width: 1335px) {
    .side-bar {
        width: 100vw;
        height: 125px;
        justify-content: flex-start;
    }
    
    .side-bar-full-title {
        display: flex;
        margin-top: 10px;
    }

    .side-bar-reduced-title {
        display: none;
    }

    .navigation-icons-container {
        display: flex;
        flex-direction: row;
        padding-top: 0px;
        width: 50%;
        justify-content: space-evenly;
    }

    .navigation-icon-selected {
        margin: 0px;
    }

    .navigation-icon-none-selected {
        margin: 0px;
    }

    .side-bar-title {
        margin-top: 0px;
    }
}

@media only screen and (max-width: 500px) {
    .route-navigate-icon {
        width: 25px;
        height: 25px;
    }
    .navigation-icons-container {
        width: 80%;
    }
}
